<h1>マイページ</h1>
<%= link_to "登録情報変更", customers_edit_path, class: "btn btn-success btn-sm btn-block sign_up" %>
<%= link_to "退会確認画面", customers_unsubscribe_path, class: "btn btn-success btn-sm btn-block sign_up" %>
<%#= link_to "注文履歴", orders_path, class: "btn btn-success btn-sm btn-block sign_up" %>