<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h1>マイページ</h1>
<%= link_to "登録情報変更", public_customers_edit_path, class: "btn btn-success btn-sm btn-block sign_up" %>
<%= link_to "配送先一覧", public_delivers_path, class: "btn btn-success btn-sm btn-block sign_up" %>
<%= link_to "注文履歴一覧", public_orders_path, class: "btn btn-success btn-sm btn-block sign_up"%>
</div>
  </div>
    </div>