<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
<h1>Nagano_Cake商品一覧</h1>
<%= link_to "新商品登録", new_admin_item_path, class: "btn btn-success btn-sm btn-block sign_up" %>
</div>
    </div>
      </div>