<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
<h1>顧客情報一覧</h1>
<table>
  <tbody>
    <tr>
      <th>姓</th>
      <th>名</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>ステータス</th>
    </tr>
 <tbody>
</table>
<%= link_to "顧客詳細", admin_customers_path, class: "btn btn-success btn-sm btn-block sign_up" %>
</div>
    </div>
      </div>