<h1>注文履歴一覧</h1>
<% @orders.each do |order| %>
<table>
  <thead>
    <tr>
      <td>購入日時</td>
      <td>購入者</td>
      <td>注文個数</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= order.created_at.strftime('%Y年%m月%d日 %H時%M分')%></td>
      <td><%= order.customer_id%></td>
      <td><% order.order_details.each do |order_detail|%>
      <%#= order_detail.cart_item.amount%>
      <% end %></td>
      <td><%= order.total_payemt + order.shipping_fee%></td>
      <td><%= link_to '注文詳細', admin_order_path(order.id),class: "btn btn-success btn-sm btn-block sign_up"%></td>
    </tr>
  </tbody>
</table>
<% end %>