<h1>注文履歴一覧</h1>
<table>
  <tbody>
    <tr>
      <th></th>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
    </tr>
   </tbody>
</table>
<% @order_detailas.each do |order_detaila|%>
<table>
  <tbody>
    <tr></tr>
    </tr>
    </tbody>
</table>
<% end %>