<h1>注文履歴一覧</h1>
<% @orders.each do |order| %>
<table>
  <thead>
    <tr>
      <td>注文日時</td>
      <td>配送先</td>
      <td>支払金額</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= order.created_at.strftime('%Y年%m月%d日 %H時%M分')%></td>
      <td><%= order.address%></td>
      <td><%= order.total_payemt + order.shipping_fee%></td>
      <td><%= link_to '注文詳細', public_order_path(order.id),class: "btn btn-success btn-sm btn-block sign_up"%></td>
    </tr>
  </tbody>
</table>
<% end %>
