<h1>商品情報</h1>
<table>
  <tbody>
    <tr>
      <th>商品名</th>
      <th>ジャンル</th>
      <th>商品説明</th>
      <th>値段</th>
      <th>販売状況</th></th>
    </tr>
   </tbody>
</table>
<table>
  <tbody>
    <tr>
      <th><%= @item.name%></th>
      <th><%= @item.genre%></th>
      <th><%= @item.introduction%></th>
      <th><%= @item.price%></th>
    </tr>
  </tbody>
</table>